# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/OpenPKW-Mobile/Bin
/OpenPKW-Mobile/obj
/OpenPKW-Mobile.Controls/Bin
/OpenPKW-Mobile.Controls/obj
/OpenPKW-Mobile.Controls/OpenPKW-Mobile.Controls.csproj.user
/OpenPKW-Mobile.v12.suo
/OpenPKW-Mobile/OpenPKW-Mobile.csproj.user
/OpenPKW-Mobile.Services/obj/Debug
/OpenPKW-Mobile.Services.Host/obj/Debug
/tmobile_20140218.rar
